@import '../modules/variables';
@import '../modules/mixins';

html {
    background: $app-background-color !important;
}

* {
    color: $dark-text-default;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.uf-container {
    max-width: 970px;
    padding-left: 24px;
    padding-right: 24px;
}

@mixin uf-well-base {
    padding: 19px;
    margin-bottom: 10px;
}

.uf-well-warn {
    @include uf-well-base;
    background-color: rgba-to-rgb(rgba($warn-color, 0.05));
    border-left: 8px solid $warn-color;
}

.uf-error-card, .uf-card {
    @include card-base;
    padding: 24px;
}

.uf-nav {
    padding-right: 24px;
    padding-left: 24px;
    height: 64px;    
    background-color: $primary-color;
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    #spacer1 {
        width: 23px;
    }

    #spacer2 {
        width: 20px;
    }

    #bar {
        font-size: 24px;
        font-weight: 300;
    }

    #titleText {
        font-size: 21px;
        font-weight: 300;
    }

    * {
        color: $light-text-default;
    }
}
