@import 'partials/layout';
@import 'partials/swagger-ui-overrides';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url(/dist/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(/dist/assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url(/dist/assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(/dist/assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    src: url(/dist/assets/fonts/Roboto/Roboto-Italic.ttf);
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
